/* Slide Animation */
.slide-animation.ng-enter,
.slide-animation.ng-leave {
  transition: ease-in-out 500ms;
}

.slide-animation.ng-enter.ng-enter,
.slide-animation.ng-leave.ng-leave-active {
  opacity:0;
  transform: translateX(300px);
}

.slide-animation.ng-leave,
.slide-animation.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateX(0);  
}

input,
textarea {
  width: 100%;
}

/* Main Style */
.display-block {
  display: block;
}

.modal {
  background-color: rgba(0, 0, 0, 0.85);
}