/* Modal Window */
.modal {
  background-color: rgba(0, 0, 0, 0.85);
}

.modal .modal-dialog {
  transition: ease-in-out 500ms;
  margin-top: 100px;
}

/* The start of enter animation */
.modal.ng-enter .modal-dialog {
  opacity: 0;
  transform: translateY(-300px);
}

/* The end of leave animation */
.modal.ng-leave.ng-leave-active .modal-dialog {
  transform: translateY(-300px);
}

/* Main Style */
.display-block {
  display: block;
}

input,
textarea {
  width: 100%;
}

.float-alert {
  top: 0;
  position: sticky;
}

/* Vehicle Management */
form#vehicle-management {
  padding: .75rem 1.25rem;
  border: 1px solid rgba(0,0,0,.125);
}
