<h1>Our Vehicles</h1>

<input ng-model="searchOption" class="form-control" type="search" placeholder="Search" aria-label="Search">

<br>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Manufacturer
        <span ng-click="orderOption = 'manufacturer'">&#8679;</span>
        <span ng-click="orderOption = '-manufacturer'">&#8681;</span>
      </th>
      <th>Model
        <span ng-click="orderOption = 'model'">&#8679;</span>
        <span ng-click="orderOption = '-model'">&#8681;</span>
      </th>
      <th>Owner
        <span ng-click="orderOption = 'owner'">&#8679;</span>
        <span ng-click="orderOption = '-owner'">&#8681;</span>
      </th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="car in $ctrl.vehicles | filter: searchOption | orderBy: orderOption">
      <td>{{car.id}}</td>
      <td>{{car.manufacturer}}</td>
      <td>{{car.model}}</td>
      <td>{{car.owner}}</td>
      <td>
        <button type="button" ng-click="openDetailsModal(car)" class="btn btn-primary">Show Details</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Details Modal -->
<div ng-if="showDetailsModal" class="display-block show modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{selectedCar.owner + "'s"}} car</h5>
        <button ng-click="closeDetailsModal()" type="button" class="close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            <b>{{selectedCar.manufacturer}} {{selectedCar.model}}</b>
            <br> 
            {{selectedCar.description}}
          </li>
          <li class="list-group-item">
            <b>Horsepower:</b> {{selectedCar.horsepower}}
          </li>
          <li class="list-group-item">
            <b>Number of doors:</b> {{selectedCar.number_of_doors}}
          </li>
          <li class="list-group-item">
            <b>Number of seats:</b> {{selectedCar.number_of_seats}}
          </li>
          <li class="list-group-item">
            <b>Transmission:</b> {{selectedCar.transmission}}
          </li>
          <li class="list-group-item">
            <b>Fuel:</b> {{selectedCar.fuel}}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button ng-click="ModalData.openManagementModal(selectedCar.id)" type="button" class="btn btn-secondary">Edit</button>
        <button ng-click="closeDetailsModal()" type="button" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Vehicle Management Modal -->
<vehicle-management></vehicle-management>
