<h1>Our Vehicles</h1>

<input ng-model="searchOption" class="form-control" type="search" placeholder="Search" aria-label="Search">

<br>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Owner</th>
      <th>Details</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="car in $ctrl.vehicles | filter: searchOption">
      <td>{{car.id}}</td>
      <td>{{car.manufacturer}}</td>
      <td>{{car.model}}</td>
      <td>{{car.owner}}</td>
      <td>
        <button type="button" ng-click="selectCar(car)" class="btn btn-primary">Show Details</button>
      </td>
      <td>
        <a ng-href="#!/managment/{{car.id}}" class="btn btn-primary">Edit</a>
      </td>
    </tr>
  </tbody>
</table>

<!-- Details Modal -->
<div ng-class="{'display-block show': showDetailsModal}" class="modal fade" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{selectedCar.owner + "'s"}} car</h5>
        <button ng-click="closeList()" type="button" class="close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            {{selectedCar.description}}
          </li>
          <li class="list-group-item">
            <b>Horsepower:</b> {{selectedCar.horsepower}}
          </li>
          <li class="list-group-item">
            <b>Number of doors:</b> {{selectedCar.number_of_doors}}
          </li>
          <li class="list-group-item">
            <b>Number of seats:</b> {{selectedCar.number_of_seats}}
          </li>
          <li class="list-group-item">
            <b>Transmission:</b> {{selectedCar.transmission}}
          </li>
          <li class="list-group-item">
            <b>Fuel:</b> {{selectedCar.fuel}}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button ng-click="closeList()" type="button" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>